@font-face {
    font-family: montserratlightitalic;
    src: url(./fonts/Montserrat-LightItalic.ttf);
}

@font-face {
    font-family: montserratextrabold;
    src: url(./fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: robotobold;
    src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: ropasans;
    src: url(./fonts/RopaSans-Regular.ttf);
}

body {
    background-image: url(./images/Todo%20Listo%20Fondo.png);
    background-size: 2000px;
    width: 100%;
    margin: 0;
}

/* Propuestas grid */
.body {
    display: grid;
    grid-template-rows: 380px 70px auto 130px;
    grid-template-areas: 
    "header"
    "navbar"
    "main"
    "footer";
}

.header {
    grid-area: header;
}

.navbar {
    grid-area: navbar;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

/* Header */
.imagen-top {
    width: 100%;
    height: 20rem;
background-repeat: no-repeat;
background-size: cover;
}

.barra-de-color {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(34, 34, 34);
    padding: 1rem 0;
}

.barra-de-color a {
    border: 5px solid rgb(243, 239, 224);
    padding: 5px 10px;
    color: rgb(243, 239, 224);
    background-color: rgb(67, 66, 66);
    text-decoration: none;
    font-family: "ropasans", serif;
    font-size: 30px;
}

.barra-de-color a:hover{
    background-color: rgb(36, 35, 35);
}

/* Fuentes main */
.titulodepresentacion {
    font-family: "montserratextrabold", system-ui;
    font-size: 52px;
    color: rgb(34, 34, 34);
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.parrafodepresentacion {
    font-family: "ropasans", serif;
    font-size: 32px;
    color: rgb(34, 34, 34);
}

/* Main */
/*presentacion*/
.section_index{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.videopreparacion{
    margin-top: 10px;
    border: rgb(34, 34, 34);
}

.videopreparacion iframe{
    width: 500px;
}

.presentacion {
    width: auto;
    background-color: rgb(243, 239, 224);
    justify-items: center;
    text-align: center;
    border: 5px solid rgb(67, 66, 66);
}

/* .presentacion h1{
    font-size: 1.5rem;
}
.presentacion p{
    font-size: 1rem;
} */

/*opciones comidas*/
.main_botones{
    padding: 1rem 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.main_botones img {
    height: 400px;
    width: 500px;
}

.main_botones .main_secciones {
    padding: 1rem 2rem;
    text-align: center;
    background-color: rgb(243, 239, 224);
    border: 5px solid rgb(67, 66, 66);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.main_botones .main_secciones h2 {
    color: rgb(34, 34, 34);
    font-size: 24px;
}
.main_botones .main_secciones .main__secciones-botones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.comidas:hover{
    border: 5px solid rgb(67, 66, 66);
    padding: 5px 10px;
    color: rgb(67, 66, 66);
    background-color: rgb(243, 239, 224);
    font-family: "ropasans", serif;
    font-size: 30px;
    text-decoration: none;
}

/* Items a la venta */
.propuestas {
    background-color: rgb(243, 239, 224);
    border: 5px solid rgb(67, 66, 66);
    width: 860px;
}

.propuestas img {
    width: 800px;
    height: 700px;
    margin-left: 23px;
}

.propuestas h3 {
    font-family: 'robotobold', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    text-align: center;
}

.propuestas p {
    font-family: 'montserratlightitalic', system-ui;
    font-size: 16px;
    text-align: center;
}

.grids_comidas ul {
    display: grid;
    gap: 30px 70px;
    grid-template-columns: 860px 860px;
    grid-row: 300px 300px;
}

/* Contacto */
.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 13px;
}

.pedir_comida {
    position: fixed;
    top: 760px;
    right: 50px;
    bottom: 50px;
    padding-left: 1700px;
    
}

.pedir_comida h5 {
    font-family: 'robotobold', monospace;
}

/* footer */
.footer {
    background-color: rgb(243, 239, 224);
    font-family: 'ropasans', 'Times New Roman', Times, serif;
    padding: 1rem 2rem;
    text-align: center;
    font-weight: 800;
}

.footer .footer__flex{
    display: flex;
    justify-content: space-between;
}

/*media query*/
@media (max-width: 768px){
    /*presentacion*/

.section_index{
flex-direction: column;
}
    }

@media (max-width: 768px){
.main_botones{
    flex-direction: column;
    justify-content: center;
}
.main_botones img{
    width: auto;
}
}

/*propuestas*/
@media (max-width: 768px){
    .presentacion h1{
        font-size: 1.5rem;
    }
    .presentacion p{
        font-size: 1rem;
    }
}

@media (max-width: 768px){
.videopreparacion iframe{
    width: auto;
}
}

@media (max-width:768px){
    .footer .footer__flex{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}
